---
import Layout from './Layout.astro';

export interface Props {
	content: {
		title: string;
		order: number;
	};
}

const {
	content: { title, order },
} = Astro.props;
---

<Layout title="T3 Awards">
	<main>
		<a href="/"><h1>T3 <span class="text-gradient">Awards</span></h1></a>
		<p class="instructions">
            {title}
        </p>
        <p>
            <slot />
        </p>
	</main>
</Layout>


<style is:global>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}
    li {
		padding-left: 10px;
        display: list-item;
        margin-left : 1em; 
    }
    h2 {
		size: 13px;
        font-weight: bolder;
        margin-top: 5px;
    }

</style>
